body {
    background-color:rgba(0, 0, 0, 1)    
    }
    #wrapper {
    margin-right:25%;
    margin-left:15%;
    }
    p {
    position:absolute;    
    }
    #illuminatedBackground {
    position:absolute;
    top:8px; 
    left:212px; 
    visibility:hidden; 
    }