@font-face {
    font-family:gothicHandDirty;
    src: url(fuentes/GothicHandDirty.ttf); /* file in my fuentes folder */
   }
@font-face {
font-family:darkGhost;
src: url(fuentes/darkGhost.otf);
}

body {
background-color:rgba(38,44,58,1);
}
#chesire{
position:absolute;
margin-left:23%;
top:0;
}
#spiderweb {
position:absolute;
margin-left:100px;
top:1;    
}
#spiderweb2 {
position:absolute;
top:1;
margin-left:600px;    
}
#bodyOfInvitation {
position:absolute;
top:580px;
left:350px;
width:700px;
font-family:darkGhost;
}